{{!-- 
        <div class="black-header"> <i class="material-icons">movie</i> <h1>Actors</h1></div>
        <div class="actors-section">
            {{#each actor}}
              <a href="/actor/{{this._id}}">
                <div class="actor-card">
                  <img src="/images/actor-posters/{{this._id}}.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <h5>{{this.actorname}}</h5>
                    <h6>{{this.language}}</h6>
                  </div>
                </div>
              </a>
            {{/each}}
        </div> --}}
