<div class="add-movies-section">
    <div class="actor-header"> Add Actors</div>
    <div class="add-movies-form">
        
        <div class="add-movies-form-section">
            <form action="/admin/add-actor" class="movies-form" enctype="multipart/form-data" method="POST">
                <div class="input-section">
                    <label class="fm-details">
                        Actor Name :</label>
                            <input type="text" name="actorname" required>

                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Language :</label>
                    <select name="language">
                        <option value="malayalam">Malayalam</option>
                        <option value="tamil">Tamil</option>
                        <option value="hindi">Hindi</option>
                        <option value="telugu">Telugu</option>
                        <option value="hollywood">Hollywood</option>
                        <option value="other">Other</option>
                        <option value="webseries">Web series</option>
                    </select>
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Age : </label>
                    <input type="text" name="age" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Year Active : </label>
                    <input type="text" name="yearactive" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Occupation :</label>
                    <input type="text" name="occupation" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Instagram Link : </label>
                    <input type="text" name="instalink" required>
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Twitter Link : </label>
                    <input type="text" name="twitlink" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Biography : </label>
                    <input type="text" name="biography" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Film 1 ID: </label>
                    <input type="text" name="filmid1" >
                     Film 1 Name:<input type="text" name="filmname1" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 2 ID: </label>
                    <input type="text" name="filmid2" >
                     Film 2 Name:<input type="text" name="filmname2" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 3 ID: </label>
                    <input type="text" name="filmid3" >
                     Film 3 Name:<input type="text" name="filmname3" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 4 ID: </label>
                    <input type="text" name="filmid4" >
                     Film 4 Name:<input type="text" name="filmname4" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 5 ID: </label>
                    <input type="text" name="filmid5" >
                     Film 5 Name:<input type="text" name="filmname5" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 6 ID: </label>
                    <input type="text" name="filmid6" >
                     Film 6 Name:<input type="text" name="filmname6" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 7 ID: </label>
                    <input type="text" name="filmid7" >
                     Film 7 Name:<input type="text" name="filmname7" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 8 ID: </label>
                    <input type="text" name="filmid8" >
                     Film 8 Name:<input type="text" name="filmname8" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 9 ID: </label>
                    <input type="text" name="filmid9" >
                     Film 9 Name:<input type="text" name="filmname9" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 10 ID: </label>
                    <input type="text" name="filmid10" >
                     Film 10 Name:<input type="text" name="filmname10" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 11 ID: </label>
                    <input type="text" name="filmid11" >
                     Film 11 Name:<input type="text" name="filmname11" >
                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Film 12 ID: </label>
                    <input type="text" name="filmid12" >
                     Film 12 Name:<input type="text" name="filmname12" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Film 13 ID: </label>
                    <input type="text" name="filmid13" >
                     Film 13 Name:<input type="text" name="filmname13" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Film 14 ID: </label>
                    <input type="text" name="filmid14" >
                     Film 14 Name:<input type="text" name="filmname14" >
                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Film 15 ID: </label>
                    <input type="text" name="filmid15" >
                     Film 15 Name:<input type="text" name="filmname15" >
                </div>

                <img src="" style="width: 100px;" id="prodimage1">
                <div class="input-section">
                     <label class="fm-details">
                        Actor Pic : </label>
                    <input type="file" name="image" onchange="viewImage(event,'image1')" >
                </div>
               
                <button type="submit">Add Actor</button>
               
            </form>
        </div>
    </div>
</div>