{{!-- {{#if admin}} --}}
<a href="/admin/logout">Logout</a>
{{!-- {{/if}}
<br>


{{#if admin}} --}}
    <div class="nav-bar-sticky ">
        
        <ul>
          <span>Movies</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/malayalam-movies">Malayalam</a></li>
          <li><a href="/tamil-movies">Tamil</a></li>
          <li><a href="/hindi-movies">Hindi</a></li>
          <li><a href="/telugu-movies">Telugu</a></li>
          <li><a href="/hollywood-movies">Hollywood</a></li>
          <li><a href="/other-movies">Other</a></li>
          <li><a href="/actors">Actors</a></li>
        </div>
        </ul>
      </div>
<div class="black-header">Section</div>
<div class="white-link"><a href="/admin/add-movies" class="dflexx"> <i class="material-icons">forward</i>Add Movie</a></div>
<div class="white-link"><a href="/admin/show-admin-movies" class="dflexx"> <i class="material-icons">forward</i>Show All Movies</a></div>
<div class="white-link"><a href="/admin/add-actor" class="dflexx"> <i class="material-icons">forward</i>Add Actor</a></div>
<div class="white-link"><a href="/admin/show-actor" class="dflexx"> <i class="material-icons">forward</i>Show All Actor</a></div>
<div class="white-link"><a href="/admin/add-nextweek-movies" class="dflexx"> <i class="material-icons">forward</i>Add Next Week Movies</a></div>
<div class="white-link"><a href="/admin/show-nextweek-movies" class="dflexx"> <i class="material-icons">forward</i>Show All NexWeek Movies</a></div>
{{!-- {{else}}
<h1>NOT PAGE FOUND</h1>
{{/if}} --}}