<div class="login-form">
        <div class="black-header">Login Form</div>

        <form action="/admin/97login" method="POST">

            <div class="input-section">
                    <label class="fm-details">
                        Enter Id :</label>
                            <input type="text" name="ID" required >

                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Password :</label>
                            <input type="password" name="password" required >

                </div>
                <button type="submit">Login</button>
        </form>
        </div>