 
 <h1>Register Form</h1>
 <form action="/admin/97signup" method="POST">

            <div class="input-section">
                    <label class="fm-details">
                        Enter Id :</label>
                            <input type="text" name="ID" required >

                </div>
                 <div class="input-section">
                    <label class="fm-details">
                        Password :</label>
                            <input type="password" name="password" required >

                </div>
                <button type="submit">Login</button>
        </form>