 <!------------------Main Header-------------------->
    <div class="main-header">
      <div class="header-image">
        
        <div class="header-tittle">
          <h2>FILMDT</h2>
          <h3>.com</h3>
        </div>
      </div>

      <div class="header-lang">
        <div class="en">
          <p>EN</p>
        </div>
      </div>
    </div>
    <!-----------------------------------------Search Box----------------->
    <div class="search-box">
      <form class="search-box1">
        <input type="text" placeholder="" required />
        <button type="submit">Search</button>
      </form>
    </div>

     
  
    