 <!------------------Main Header-------------------->
 {{!-- <div class="website-header">
     <span>D</span>RAMA <span>L</span>ITE. <span style="font-size: 19px;margin-top: 7px;color: white;">COM</span>
  </div> --}}
  <div class="website-header">
    <div class="website-english-header">
     <span>D</span>RAMA <span>L</span>ITE. <span style="font-size: 19px;margin-top: 7px;color: white;">COM</span>
    </div>
    <div class="website-malayalam-header">  സിനിമ  ആമുഖം </div>
  </div>
    <!-----------------------------------------Search Box----------------->
    <div class="search-bar">
      <div class="search-item">
       <input type="text" id="linkit" placeholder="Type...">
       <div class="search-button">
         <a href="" id="hp" onclick="searchit()">Search</a>
       </div>
      </div>
    </div>

     
  
    