 <!------------------Main Header-------------------->
    <div class="main-header">

      <div class="site-logo">
        <img src="/images/site-logo/site-logo.png" alt="" srcset="">
      </div>
     
    </div>
    <!-----------------------------------------Search Box----------------->
    <div class="search-box">
      <form class="search-box1">
        <input type="text" placeholder="" required />
        <button type="submit">Search</button>
      </form>
    </div>

     
  
    