

    <!------------------------------------------Upcoming Movies Section--------------------->
    {{!-- <div class="upcoming-section">
      <div class="black-header"> <i class="material-icons">movie</i> Upcoming Movies </div>

      <table class="table-upcoming-list">
        <tr>
          <td class="up-list">
            <a href="#" class="up-list1"
              >
              <div class="upcmng-movie-header"><h3>Kammara</h3></div>
              <img src="m.jpg" />
              <div class="uplist-det">
                <div class="uplist2"><i class="material-icons">language</i><h4>Malayalam</h4> </div>
                <div class="uplist2"><i class="material-icons">schedule</i> <p> 2018</p></div>
               
            </div>
              </a
            >
          </td>


          <td class="up-list">
            <a href="mayanadhi.html" class="up-list1"
              >
              <div class="upcmng-movie-header"><h3>Kammara</h3></div>
              <img src="mmm.jpg" />
              <div class="uplist-det">
                <div class="uplist2"><i class="material-icons">language</i><h4>Malayalam</h4> </div>
                <div class="uplist2"><i class="material-icons">schedule</i> <p> 2018</p></div>
               
            </div>
              </a
            >
          </td>
          <td class="up-list">
            <a href="#" class="up-list1"
              >
              <div class="upcmng-movie-header"><h3>Kammara</h3></div>
              <img src="mm.jpg" />
              <div class="uplist-det">
                <div class="uplist2"><i class="material-icons">language</i><h4>Malayalam</h4> </div>
                <div class="uplist2"><i class="material-icons">schedule</i> <p> 2018</p></div>
               
            </div>
              </a
            >
          </td>



        
        </tr>
        <tr>
          <td class="up-list">
            <a href="mayanadhi.html" class="up-list1"
              >
              <div class="upcmng-movie-header"><h3>Kammara</h3></div>
              <img src="images/mm.jpg" />
              <div class="uplist-det">
                <div class="uplist2"><i class="material-icons">language</i><h4>Malayalam</h4> </div>
                <div class="uplist2"><i class="material-icons">schedule</i> <p> 2018</p></div>
               
            </div>
              </a
            >
          </td>
          <td class="up-list">
            <a href="#" class="up-list1"
              >
              <div class="upcmng-movie-header"><h3>AAAA</h3></div>
              <img src="mm.jpg" />
              <div class="uplist-det">
                <div class="uplist2"><i class="material-icons">language</i><h4>Malayalam</h4> </div>
                <div class="uplist2"><i class="material-icons">schedule</i> <p> 2018</p></div>
               
            </div>
              </a
            >
          </td>
          <td class="up-list">
            <a href="#" class="up-list1"
              >
              <div class="upcmng-movie-header"><h3>Kammara</h3></div>
              <img src="m.jpg" />
              <div class="uplist-det">
                <div class="uplist2"><i class="material-icons">language</i><h4>Malayalam</h4> </div>
                <div class="uplist2"><i class="material-icons">schedule</i> <p> 2018</p></div>
               
            </div>
              </a
            >
          </td>
        </tr>
      </table>
    </div> --}}

    <!-------------------------Movies LIst category------------------------------>

    <div class="movies-list-section">
      <div class="black-header"> <i class="material-icons"> movie_filter</i> Movies Language Category </div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Malayalam Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Tamil Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Hindi Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Telugu Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Hollywood Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Other Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Web Series</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Actors Section</a></div>
    </div>
