

    <!------------------------------------------Upcoming Movies Section--------------------->
 

    <!-------------------------Movies LIst category------------------------------>

    <div class="movies-list-section">
      <div class="black-header"> <i class="material-icons"> movie_filter</i> Movies Language Category </div>
      <div class="white-link"><a href="/malayalam-movies" class="dflexx"> <i class="material-icons">forward</i>Malayalam Movies</a></div>
      <div class="white-link"><a href="/tamil-movies" class="dflexx"> <i class="material-icons">forward</i>Tamil Movies</a></div>
      <div class="white-link"><a href="/hindi-movies" class="dflexx"> <i class="material-icons">forward</i>Hindi Movies</a></div>
      <div class="white-link"><a href="/telugu-movies" class="dflexx"> <i class="material-icons">forward</i>Telugu Movies</a></div>
      <div class="white-link"><a href="/hollywood-movies" class="dflexx"> <i class="material-icons">forward</i>Hollywood Movies</a></div>
      <div class="white-link"><a href="other-movies" class="dflexx"> <i class="material-icons">forward</i>Other Movies</a></div>
      <div class="white-link"><a href="#" class="dflexx"> <i class="material-icons">forward</i>Web Series</a></div>
      <div class="white-link"><a href="/actors" class="dflexx"> <i class="material-icons">forward</i>Actors Section</a></div>
    </div>
