<div class="black-header">Add Next weekMovies</div> 
 <form action="/admin/add-nextweek-movies" class="movies-form" enctype="multipart/form-data" method="POST">
                <div class="input-section">
                    <label class="fm-details">
                        Movie Name :</label>
                            <input type="text" name="moviename" >
                           

                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Movie Release Date :</label>
                            <input type="text" name="moviereleasedate" >
                           

                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Movie ID :</label>
                            <input type="text" name="movieid" >
                           

                </div>
                <button type="submit">Add Nextweek</button>

 </form>