<title>Add Next Week Release Movies</title>
  <div class="nav-bar-sticky ">
        
        <ul>
          <span>Header</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Admin Home</a></li>
          <li><a href="/admin/show-admin-movies">Show All Movies Admin</a></li>
          <li><a href="/admin/add-movies">Add Movies</a></li>
          <li><a href="/admin/show-actor">Show All Actors</a></li>
          <li><a href="/admin/add-actor">Add Actor</a></li>
          <li><a href="/admin/add-nextweek-movies">Add Next Week</a></li>
          <li><a href="/admin/add-nextweek-movies">Show Next Week Movies</a></li>
         
        </div>
        </ul>
      </div>

<div class="black-header">Add Next weekMovies</div> 
 <form action="/admin/add-nextweek-movies" class="movies-form" enctype="multipart/form-data" method="POST">
                <div class="input-section">
                    <label class="fm-details">
                        Movie Name :</label>
                            <input type="text" name="moviename" >
                           

                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Movie Release Date :</label>
                            <input type="text" name="moviereleasedate" >
                           

                </div>
                <div class="input-section">
                    <label class="fm-details">
                        Movie ID :</label>
                            <input type="text" name="movieid" >
                           

                </div>
                <button type="submit">Add Nextweek</button>

 </form>