<title>Tamil (തമിഴ്  സിനിമകൾ ) Latest Full Movies Download Review nd Trailor Free</title>


<section>
<!--------------------------------Movies Categories Swipe---------------------->
      <div class="nav-bar-sticky ">
        
        <ul>
          <span>Movies</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/malayalam-movies">Malayalam</a></li>
          <li><a href="/tamil-movies">Tamil</a></li>
          <li><a href="/hindi-movies">Hindi</a></li>
          <li><a href="/telugu-movies">Telugu</a></li>
          <li><a href="/hollywood-movies">Hollywood</a></li>
          <li><a href="/other-movies">Other</a></li>
          <li><a href="/actors">Actors</a></li>
        </div>
        </ul>
      </div>
  
    <div class="black-header">
      <i class="material-icons">movie</i>
      Tamil Movies
    </div>

    
      <div class="movies-section">
        {{#each tamilMovies}}
          <a href="/movie/{{this._id}}" class="movies-list">
            <div class="movies-img">
              <img src="/images/movie-posters/{{this._id}}.jpg" alt="" srcset="">
            </div>
          <div class="movies-body">
            <p>{{this.name}}</p>
          </div>  
          
          </a>
        {{/each}}
      </div>


  

</section>