@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=PT+Sans+Narrow&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Noto+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf1ffb5;
}

/*-----------------------Header Mwnu------------------*/
.site-logo img {
    width: 90%;
    height: 86px;
    margin-top: 5px;
    object-fit: contain;
}
.site-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------------------Search Box------------------*/
.search-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button{
    height: 32px;
    border: 1px solid black;
    width: 75px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    background: #4c4747;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search-button a{
  text-decoration: none;
  color: white;
}
.search-bar input{
    width: 230px;
    height:32px;
    font-size: 13px;
    padding: 0px 10px;
    border-radius: 25px 0 0 25px;
    background: #e0dede;
    border: none;
  }

/*upcoming section*/
.black-header{
    background-color: rgb(54 46 46);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}
.black-header i {
    margin-right: 5px;
}

.white-link{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black
    
    
}

.dflexx{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;    
}
.dflexx i{
    color: rgb(252, 54, 19);
}

/*Movie section*/
.main{
    
    overflow: hidden;
    width: 96%;
    margin-left: 2%;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.14);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 4px;

}
.movie-img{
    padding: 10px 10px;
    position: relative;
}
.backimg{
    height: 235px;
    width: 100%;
    border-radius: 20px;
   
}
.movie-img img{
    background-size: cover;
    object-fit: cover;
}
.movie-cover{
    position: absolute;
    height: 160px;
    max-width: 135px;
    bottom: -58px;
    left: 23px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.1);
}
.fa-play{
    margin-top: 5px;
}
.fa-playy{
    position: absolute;
    right: 28px;
    bottom: -7px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: rgb(252, 54, 19);
    color: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-trailor{
    position: absolute;
    width: 84px;
    height: 21px;
    background-color: rgb(252, 54, 19);
    right: 61px;
    bottom: 2px;
    color: white;
    /* text-align: center; */
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.fa-trailor p{
   font-size: 10px; 
}
.mv-head{
    margin-left: 160px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 33px;
    font-size: 1.6rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
.mv-head i{
    color: rgb(252, 54, 19);
    font-size: 18px;
}
.mv-head h6{
    margin: 0 2px;
    color: rgb(0 0 0 / 70%);
    font-family: 'manjari';
}

.head11{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.head111{
    width: 110px;
}
.head111 p{
    
    font-size: 0.8em;
    margin: 0;
    font-weight: 700;
    
    color: rgb(252, 54, 19);
    font-family: 'Varela Round', sans-serif;
    
}



.head1111{
    margin: 6px 0;
    width: 110px;
}
.head1111 p{
    color: rgb(0 0 0 / 53%);
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 10px;
    margin: 0;
}

/*Video Secton*/

.video-row{
    margin-right: 10PX;
}
.video-row iframe{
    width: 300PX;
   
}



.swiper-container {
    width: 93%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
}
.mv-details{
    display: flex;
    align-items: center;
}
.actor-section{
    /* border-bottom: 1px solid rgb(219, 199, 199); */
    border-bottom: 1px solid black;
    margin: 5px 0px;
    
}
.mv-details h4{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    font-family: sans-serif;
}
.mv-details h5{
    font-size: 13px;
    color: rgb(252, 54, 19);
    font-family: 'Varela Round', sans-serif;
    margin: 5px;
}

.basic-head{
    font-size: 0.9em;
    margin-top: 7px;
    width: 82px;
    height: 27px;
    background-color: rgb(76 71 71);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-left: 1%;
}
.basic-head h4{
    color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
}
.head3{
    display: flex;
    margin: 7px 4px;
    align-items: center;
}
.head3 p{
    color: rgb(0,0,0,0.7);
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 600; 
}
.head3 h5{
    color: rgba(17, 16, 16, 0.7);
    font-family: sans-serif;
    font-size: 0.8em;
}
.story{
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
}
.story-h p{
    color: rgb(252, 54, 19);
    font-family: 'Varela Round', sans-serif;
    font-size: 0.8em; 
    font-weight: 600; 
    margin-bottom: 0;
    margin-top: 5px;
    
}
.story-p{
    width: 100%;
}
.story-p p{
    text-overflow: ellipsis;
    font-weight: 500;
    font-family: 'manjari';
    font-size: 15px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.image-section{
    border-bottom: rgb(209, 207, 207) solid;
    margin: 5px 0px; 
}
.movie-images img{
    
        
      max-width: 100%; 
        height: auto;
        
    
}
/*Actor section*/
.actor-image{
    width: 50%;
}
.actor-image img{
    width: 100%;
    border-radius: 5%;
    margin: 5px;
}
.actor-two{
    display: flex;
    align-items: center;
    border-bottom: rgb(209, 207, 207) solid;
}
.black-headerr{
    background-color: rgb(24, 20, 20);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 3px;
}
.video-yt h4{
    position: relative;
    font-size: 16px;
    font-weight: 800;
    font-family: sans-serif;
    margin: 0;
}
.video-yt{
    background-color: white;
    height: 150px;
    border-bottom: rgb(209, 207, 207) solid;
}
.connect-with img{
    width: 20px;
    border-radius: 15%;
    margin-right: 5px;
}
.connect-with h4{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    font-family: sans-serif;
}
.connect-with{
    display: flex;
    align-items: center;
}
.add-movies-form-section{
    margin-top: 10px;
}
.movies-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 5px 10px;
}
.fm-details{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.input-section{
    margin: 5px;
}
.input-section input{
    height: 23px;
    width: 250px;
    border: 2px solid #a19e9e;
}
.movies-form button{
    background-color: #000;
    color: white;
    width: 113px;
    height: 32px;
    border-radius: 10%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 7px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}
/*Movie card*/
.movie-mega-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  .movie-mega-card a{
    text-decoration: none;
  }
  .movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin:14px; 
    width: 160px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  }
  .movie-card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 12rem;
     width: 100%;
  }
  .movie-card-title{
    text-align: center;
    font-family: sans-serif;
      font-weight: 700;
      font-size: 0.8em;
      color: rgb(235, 0, 0);
  }
  .movie-card-info{
    font-size: 0.7em;
    text-align: center;
    margin-top: 9px;
  }
  .card-body{
    margin-top: 5px;
    height: 30px;
    background-color: white;
  }
  .actor-card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 6rem;
     width: 100%;
  }
  .actor-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 9rem;
     width: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin:14px; 
    width: 124px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  }
  .card-body h5{
margin: 2px;
  }

  /*ADMIN MOVIES LIST*/
  .admin-header{
    background-color: black;
    color: white;
    height: 28px;
    font-weight: 700;
  }
  .td-class{
    border-bottom: 1px solid black;
    color: #070807;
    font-size: 13px;
    font-family: 'Varela Round';
    font-weight: 700;
  }
  .td-class a{
      text-decoration: none;
      margin-right: 10px;
    
      color: red;
      font-weight: bold;
  }

  /*YOUTUBE TRAILOR */
  .video-container{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 90%;
    /* height: 400px; */
    z-index: 9999;
   
    /* display: flex; */
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ;

}

.video-container .close{
    position: absolute;
    top: 2%;
    right: 10%;
    font-size: 23px;
    cursor: pointer;
    color: red;
    z-index: 9999;
    font-weight: 900;

}
.video-container iframe{
    width: 90%;
    max-width: 800px;
    height: 320px;
    transform: scale(0);
    outline: none;
    transition: all 0.3s;
}
.video-container.show{
    pointer-events: all;
    opacity: 1;

}
.video-container.show iframe{
    transform: scale(1);
}
/*Movies LIST*/
.movies-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.movies-section a{
    text-decoration: none;
}
.movies-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin: 9px 3px;
    height: 174px;
    background-color: #1c1c1cdb;
    
}
.movies-img{
    width: 120px;
}
.movies-img img{
    width: 100%;
    height:135px ;
    object-fit: cover;
}
.movies-body{
    text-align: center;
}
.movies-body p{
    margin: 3px 0px;
    color: white;
    font-family: 'manjari';
    font-weight: 400;
    font-size: 14px;
    
}
.movies-body h6{
    margin: 0px;
    color: white;
    font-family: 'Varela Round';
    font-weight: 400;
    font-size: 9px;
}
/*Latest Update Movies*/
.movies-list-latestupdate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    margin: 2px 2px;
    height: 142px;
    background-color: #1c1c1cdb;
}
.movies-img-latestupdate{
    width: 90px;
}
.movies-img-latestupdate img{
    width: 100%;
    height:105px ;
    object-fit: cover;
}

.movies-body-latestupdate{
    text-align: center;
}
.movies-body-latestupdate p{
    margin: 0px;
    color: white;
    font-family: 'Manjari', sans-serif;
    font-weight: 500;
    font-size: 12px;   
}
.movies-body-latestupdate h6{
    margin: 0px;
    color: white;
    font-family: 'Varela Round';
    font-weight: 400;
    font-size: 8px;   
}
/*ACTOR SWAP*/
.swiper{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.swiper::-webkit-scrollbar{
    display: none;
}
.actorswp{
    border: 1px solid rgba(0,0,0,.14);
    width: 95px;
    height: 150px;
    overflow: hidden;
    margin-right: 5px;
    
}
.actorswp img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.actorswp a{
    text-decoration: none;
}
.actorswp h6{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Varela Round';
    color: #211818;
    font-weight: 900;
    text-align: center;
    
}
.actorswp p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: rgb(0 0 0 / 73%);
    font-family: sans-serif;
}
.actor-swp{
    display: flex;
    margin-left: 5px;
}
/*Story Readmore*/

.story-readmore{
    position: absolute;
    top: 0%;
    left: 0%;
    height: auto;
    background-color: #eee;
    padding: 15px;
    border: 1px solid red;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ;
  
  }
  .story-readmore p{
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
  }
  .story-readmore .closee{
    position: absolute;
    top: 0;
      right: 0;
      font-size: 35px;
    cursor: pointer;
    color: red;
    z-index: 99999;
    font-weight: 900;
  
  }
    
  .story-readmore.show{
    pointer-events: all;
    opacity: 1;
  
  }
  .story-readmore.show {
    transform: scale(1);
  }
  
  .readmore-btn{
    color: blue;
    text-align: center;
    display: inline-block;
    padding: 3px 9px;
    border: 1px solid rgb(41, 33, 32);
    cursor: pointer;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    margin-left: 8px;
  }
  /*Movis Categories Swiper */
  .nav-bar-sticky{
    position: relative;
    margin-top: 10px;
   
  }
  .nav-bar-sticky ul{
   display: flex;
   list-style: none;
   margin-left: -35px;
  }
 
  .nav-bar-sticky ul li a{
    text-decoration: none;
    color: black;
  }
  .nav-swiper{
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
  }
  .nav-bar-sticky span{
   background-color: rgb(180 169 169 / 70%);
   margin-right: 3px;
   padding: 2px 6px;
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 700;
  }
  .nav-swiper li{
   background-color: rgb(180 169 169 / 70%);
   margin-right: 5px;
   padding: 3px 8px;
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 500;
   border-radius: 5px;

  }
  
  
  .nav-swiper::-webkit-scrollbar{
    display: none;
  }

  /*ACTOR FILM*/
  .actor-header{
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(76 71 71);
    border: 3px solid #443c3c;
  }
  .actor-film{
      display: flex;
      width: 100%;
      height: auto;

  }
  .actor-film-card{
      width: 110px;
      height: 150px;
    margin: 5px 5px;
  }
  .actor-film-card img{
      width: 100%;
      height: 137px;
      
  }
  .actor-film-card h6{
    margin: 0;
    text-align: center;
    color: black;
    font-size: 11px;
    font-family: sans-serif;
  }
  .actor-film-card a{
      text-decoration: none;
  }
  /*Next Week MOVIES SECTION*/
  .latest-movies-section{
    display: flex;
    
  }
  .latest-movies-section a{
    text-decoration: none;
  }
  .latest-update-movies{
    width: 110px;
    height: 175px;
    background-color: rgb(252, 54, 19);
    overflow: hidden;
    margin: 6px;
    border: 1px solid black;

  }
  .latest-update-movies img{
    width: 100%;
    height: 146px;
    object-fit: cover;
  }
  .latest-update-movies h4{
    margin: 1px 0px;
    padding: 0;
    font-size: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;


  }
  .latest-update-movies p{
    margin: 0;
    font-size: 8px;
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  /*End Section nd Share*/
  .end-container{
    background-color: rgb(54 46 46);
    width: 100%;
    padding: 10px;
    
   }
   .connect-social{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .connect-icons i{
    font-size: 19px;
    color: rgb(252, 54, 19);
    margin-right: 8px;
   }
   .connect-text p{
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 3px;
   }
   .end-copyright{
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 6px;

   }
   .end-copyright span{
    font-family: sans-serif;
   }
   .share-link{
     margin-top: 9px;
    display: flex;
    align-items: center;
   }
   .share-link h4{
     margin: 4px 8px;
     color: rgb(0,0,0,0.7);
     font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
    font-weight: 900;
    
   }
   .share-whats i{
    color: #27ba2d;
    font-size: 24px;
   }
   .share-tele i{
     margin-right: 10px;
     font-size: 24px;
     color: #0088cc;
   }
 
   /*Story ENGLISH*/

.story-readmore-english{
    position: absolute;
      top: 0%;
      left: 0%;
      height: auto;
      background-color: #eee;

      padding: 15px;
      border: 1px solid red;
    
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ;
  
  }
  .story-readmore-english p{
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
  }
  .closee-english{
    position: absolute;
    top: 0;
      right: 0;
      font-size: 35px;
    cursor: pointer;
    color: red;
    z-index: 999919;
    font-weight: 900;
  
  }
    
  .story-readmore-english.show{
    pointer-events: all;
    opacity: 1;
  
  }
  .story-readmore-english.show {
    transform: scale(1);
  }
  
  .readmore-btn-english{
    color: blue;
    text-align: center;
    display: inline-block;
    padding: 3px 9px;
    border: 1px solid rgb(41, 33, 32);
    cursor: pointer;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    margin-left: 8px;
  }

  /*Details Section Added*/
  .details{
    margin-left: 1%;
}
.details-col{
    display: flex;
}
.details-col h5{
    font-weight: bolder;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    margin: 1px;
}
.details-col p{
    margin: 1px 7px;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}
@media(min-width: 767px){
    .site-logo img{
        width: 61%;
        height: 133px;
        object-fit: contain;
    }
    .movie-poster img{
        width: 35%;
        max-height: min-content;
        height: 600px;
        
    }
    .info-head{
        display: flex;
        justify-content: flex-start;
    }
    .actor-image{
        width: 20%;
    }
    .actor-image img{
        width: 100%;
        border-radius: 5%;
        margin: 5px;
    }
    .connect-with img{
        width: 30px;
        border-radius: 15%;
        margin-right: 5px;
    }
    
    
    .movies-img img{
        width: 100%;
        height:161px ;
        object-fit: cover;
    }
    .movies-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        height: 200px;
        margin: 10px 9px;
        background-color: #1c1c1cdb;
    }
    /*Next Week MOVIES SECTION*/
  .latest-movies-section{
    display: flex;
    
  }
  .latest-movies-section a{
    text-decoration: none;
  }
  .latest-update-movies{
    width: 140px;
    height: 190px;
    background-color: rgb(252, 54, 19);
    overflow: hidden;
    margin: 7px;
    border: 1px solid black;

  }
  .latest-update-movies img{
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .latest-update-movies h4{
    margin: 1px 0px;
    padding: 0;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;


  }
  .latest-update-movies p{
    margin: 0;
    font-size: 9px;
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
/*Movies Image Area*/
  .mv-head{
    margin-left: 215px;
    margin-bottom: 50px;
    font-size: 2rem; }
  .mv-head i{
        font-size: 25px;
    }
  .backimg{
    height: 390px;  
}
.movie-cover{
    height: 250px;
    max-width: 175px;
    bottom: -75px;
}
.movies-list-latestupdate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 107px;
    margin: 3px 3px;
    height: 160px;
    background-color: #1c1c1cdb;
}
.movies-img-latestupdate img{
    width: 100%;
    height:130px ;
    object-fit: cover;
}
.movies-body-latestupdate p{
    margin: 0px;
    color: white;
    font-family: 'Varela Round';
    font-weight: 500;
    font-size: 10px;   
}

}
