<form action="admin/add-images" method="POST">
  <div class="input-section">
    <label class="fm-details">
      Image :
    </label>
    <input type="file" name="image" />
    <input type="text" name="imaget" >
  </div>
  <div class="input-section">
    <label class="fm-details">
      Image2 :
    </label>
    <input type="file" name="image2" />
     <input type="text" name="imaget2" >
  </div>
  <button type="submit">Add Images</button>
</form>