<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="shortcut icon" href="/images/site-logo/icon.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
     <script src="https://kit.fontawesome.com/410a50dbac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    

    {{#if admin}}
    {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{{body}}}
   
  </body>
 
<div class="end-container">
    <div class="connect-social">
      <div class="connect-text">
        <p>Connect us :</p>
      </div>
      <a href="#" class="connect-icons"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#" class="connect-icons"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      <a href="#" class="connect-icons"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      
    </div>
    <div class="footer-privacy">
      <a href="/privacy-policy">Privacy Policy</a> | 
      <a href="/terms-conditions">Terms & Conditions</a> |
      <a href="/contact">Contact us</a>
    </div>

    <div class="end-copyright">
      <i class="fa fa-copyright" aria-hidden="true"> </i>2021 Dramalite.om</div>
    
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
  
  <script src="/javascripts/custom.js"></script>
</html>
